.login-form-container {
    width: 500px;
    margin: 0 auto;
    background-color: #444444;
    border-radius: 10px;
}

.header-login-form-container {
    height: 80px;
    border-radius: 10px;
}

.login-form-submit-btn {
    padding-top: 40px;
    padding-bottom: 20px;
}

.login-form-input-container {
    padding: 20px 40px;
}

.login-btn {
    background: #40AB5D;
}

.login-header {
    background: #40AB5D;
}