.login-form-container {
    width: 500px;
    margin: 0 auto;
    background-color: #444444;
}

.header-login-form-container {
    height: 80px;
}

.login-form-submit-btn {
    padding-top: 40px;
    padding-bottom: 20px;
}

.login-form-input-container {
    padding: 20px 40px;
}