

#view-homepage-background {
    background-image: url('https://i.pinimg.com/originals/2c/42/29/2c4229028fa9069ebaf1940cb02ecc35.jpg') !important;
    background-repeat: no-repeat !important; 
    background-size: cover !important;
    /* background-color: #1C2331 !important */
}

.home-page-title {
    background-color: grey;
}

.icon-color-homepage {
    color: rgb(2,199,83);
}

.homepage-title-h1 {
    color: rgb(2,199,83);
    font-size: 100px;
}

.homepage-buttons {
    background-color: rgb(2,199,83);
}

.homepage-footer {
    background-color: rgb(2,199,83);
}

.homepage-icons {
    font-size: 60px;
}