#main-navbar {
    background: rgba(2, 199, 81, 0.75);
    /* background: linear-gradient(90deg, rgba(39,229,197,1) 0%, rgba(2,199,83,1) 100%); */
}

.ghost-button {
    display: inline-block;
    width: 130px;
    height: 64px;
    padding: 0px;
    color: #fff !important;
    opacity: 1 !important;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 4px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.ghost-button:hover {
    background-color: #27ddb0 !important;
    color: rgb(229, 250, 241) !important;
}